body{
    display: flex;
    justify-content: center;
}

#calcContainer{
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calcBody{
    background-color: black;
}

.display{
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
    height: 75px;
    /* width: ; */
    background-color: grey;
}

.btnPanel{
    display: flex;
    flex-direction: column;
    font-size: 0;
    /* max-height: 100px;
    max-width: 65px; */
}
.btn{
    height: 50px;
    width: 50px;
}
#clear{
    width: 100px;
}
#delete{
    width: 100px;
}
/* .operatorPanel{
    display: flex;
    flex-direction: column;
} */